:root {
  --main-title-colour: #ffffff;
  --secondary-title-colour: #212121;
  --main-text-color: #757575;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
}
.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*  -----------HEADER ------------*/
.header .container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: var(--blue-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 305px;
}

.header-list {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts-item:first-child {
  margin-right: 30px;
}
.icon-contacts {
  fill: #757575;
  margin-right: 10px;
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}
.header-contacts-link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:hover .icon-contacts,
.header-contacts-link:focus .icon-contacts {
  color: #2196f3;
  fill: #2196f3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-colour);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.current {
  color: #2196f3;
}
.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

/* -----------HERO---------- */

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-hero.jpg);
  max-width: 1600px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  display: block;
  justify-content: center;

  /* background: #C4C4C4; */
}

.hero-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.btn-studio {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--blue-color);
  cursor: pointer;
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.btn-studio:focus,
.btn-studio:hover {
  background-color: var(--blue-color);
}
.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:focus,
.btn-portfolio:hover {
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

/* -----------ADVANTAGES----------- */

.advantages-item {
  width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
}
.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.advantages-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-position: center;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagramm::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronavt::before {
  background-image: url(../images/astronaut.svg);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: start;
}
/* -------------work------------- */

.work-section {
  padding-bottom: 94px;
}
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-colour);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  align-items: center;
}

.work-image:not(:last-child) {
  margin-right: 30px;
}
.image-card {
  position: relative;
}
img {
  display: block;
}
.image-text {
  display: flex;
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  margin: 0 auto;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
}

/*-------------- TEAM ---------------*/

.team {
  background: rgba(245, 244, 250, 1);
  justify-content: center;
}

.team-list {
  display: flex;
  /* margin-bottom: 94px; */
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-colour);
  margin-bottom: 50px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
  width: 270px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team-item:first-child {
  padding-left: -15px;
}
.team-text {
  padding: 30px 32px;
  border: 1px solid #f5f4fa;
  border-radius: 5px;
}

.team-name {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--secondary-title-colour);
  margin-bottom: 10px;
}
.team-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.socials-list {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus,
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  background-color: #2196f3;
  fill: #ffffff;
}

/* -------------CLIENTS_______________ */
.clients {
  background-color: #ffffff;
  justify-content: center;
}
.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-colour);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 90px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  padding: 16px 31px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus,
.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-------------- PRODUCTS -------------*/

.products-list {
  width: 611px;
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.current-portfolio {
  color: #ffffff;
  background-color: var(--blue-color);
}
/* padding-right: 8px;
 */

.products-item:not(:last-child) {
  margin-right: 8px;
}

/* -----GALLARY--- */
.gallary-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-colour);
  margin-bottom: 4px;
  border: 0px;
}
.gallary-text {
  font-family: "Roboto", sans-serif;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.gallary-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.gallary-list {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: calc((100%-60px) / 3); */
  margin-right: -30px;
  margin-bottom: -30px;
}

.gallary-item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.gallary-picture {
  display: block;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallary-picture:hover,
.gallary-picture:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallary-picture:hover .overlay-text,
.gallary-picture:focus .overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

@keyframes overlay-text {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.overlay-card {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

/* -------FOOTER-------- */
.footer {
  background-color: #2f303a;
  display: block;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.footer-left {
  margin-right: 70px;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #2196f3;
}

.footer-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-item {
  margin-bottom: 10px;
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: #2196f3;
}

.join {
  /* display: block; */
  margin-top: 12px;
}
.join-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.join-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.join-link {
  background-color: rgba(0, 0, 0, 0.25);
}
.join-item {
  width: 44px;
  height: 44px;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
}
/* --------- MODAL ---------------- */

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  width: 530px;
  height: 580px;
  padding: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation: rotate 250ms ;
}
.btn-close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  animation: scale 2500ms linear none 1 normal forwards;

}

  */


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 1;*/
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* @keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
} */
